// typography
$font-family: "Noto Sans TC", Horizontal, sans-serif;

:root {
    // color
    --primary-100: #f5fee7;
    --primary-200: #e8fec5;
    --primary-300: #C0FA73;
    --primary-400: #57A203;
    --primary-500: #477A11;
    --neutral-0: #ffffff;
    --neutral-100: #F8F9FA;
    --neutral-200: #E9ECEF;
    --neutral-300: #DEE2E6;
    --neutral-400: #CED4DA;
    --neutral-500: #ADB5BD;
    --neutral-600: #6C757D;
    --neutral-700: #495057;
    --neutral-800: #343A40;
    --neutral-900: #212529;
    --danger-100: #FCF1F1;
    --danger-200: #EBA7A7;
    --danger-300: #D74F4F;
    --warning-100: #FEF6EC;
    --warning-200: #F9C588;
    --warning-300: #F38B12;
    --success-100: #EFF8F4;
    --success-200: #9AD1BA;
    --success-300: #36A375;
    --info-100: #EEF5FC;
    --info-200: #97C3ED;
    --info-300: #3087DB;
    --text-primary: #212529;
    --text-secondary: #6C757D;
    --text-muted: #ADB5BD;
    --text-highlight: #57A203;
    --text-dark: #ffffff;

    // spacing
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-s: 12px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 40px;
    --spacing-3xl: 48px;
    --spacing-4xl: 56px;
    --spacing-5xl: 64px;
    --spacing-6xl: 80px;
}

* {
    box-sizing: border-box;
    position: relative;
    font-family: $font-family;
}
body{
    color: var(--neutral-900);
}
img{
    display: block;
}
.container{
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.col-12-xxl{
    grid-column: 1 / -1;
}
.col-11-xxl{
    grid-column: span 11;
}
.col-10-xxl{
    grid-column: span 10;
}
.col-9-xxl{
    grid-column: span 9;
}
.col-8-xxl{
    grid-column: 8;
}
.col-7-xxl{
    grid-column: span 7;
}
.col-6-xxl{
    grid-column: span 6;
}
.col-5-xxl{
    grid-column: span 5;
}
.col-4-xxl{
    grid-column: span 4;
}
.col-3-xxl{
    grid-column: span 3;
}
.col-2-xxl{
    grid-column: span 2;
}
.col-1-xxl{
    grid-column: span 1;
}

@media (max-width: 576px) {
    .container{
        padding: 0 12px;
        margin: 0 auto;
    }
}

// radius
.radius-sm{
    border-radius: 4px;
}
.radius-md{
    border-radius: 12px;
}
.radius-rounded{
    border-radius: 1000px;
}