* {
    box-sizing: border-box;
    position: relative;
    font-family: $font-family;
}

.container{
    max-width: 1296px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 24px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.col-12-xxl{
    width: 100%;
    grid-column: 1 / -1;
}
.col-11-xxl{
    width: 91.66666666666667%;
    grid-column: span 11;
}
.col-10-xxl{
    width: 83.33333333333333%;
    grid-column: span 10;
}
.col-9-xxl{
    width: 75%;
    grid-column: span 9;
}
.col-8-xxl{
    width: 66.66666666666667%;
    grid-column: 8;
}
.col-7-xxl{
    width: 58.33333333333333%;
    grid-column: span 7;
}
.col-6-xxl{
    width: 50%;
    grid-column: span 6;
}
.col-5-xxl{
    width: 41.66666666666667%;
    grid-column: span 5;
}
.col-4-xxl{
    width: 33.33333333333333%;
    grid-column: span 4;
}
.col-3-xxl{
    width: 25%;
    grid-column: span 3;
}
.col-2-xxl{
    width: 16.66666666666667%;
    grid-column: span 2;
}
.col-1-xxl{
    width: 8.333333333333333%;
    grid-column: span 1;
}

img{
    display: block;
}

// typography
h1, h2, h3, h4, h5, h6, .display-1, .display-2 {
    font-family: $font-family;
    line-height: 1.2;
    letter-spacing: 5%;
}
p, li, a {
    font-family: $font-family;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
a {
    display: block;
    text-decoration: none;
    outline: none;
    font-family: $font-family;
}
h1, .tw-h1{
    font-size: 40px;
}
h2, .tw-h2{
    font-size: 32px;
}
h3, .tw-h3{
    font-size: 28px;
}
h4, .tw-h4{
    font-size: 24px;
}
h5, .tw-h5{
    font-size: 20px;
}
h6, .tw-h6{
    font-size: 16px;
}
.display-1{
    font-size: 64px;
}
.display-2{
    font-size: 48px;
}
.tw-label-lg{
    font-size: 20px;
}
.tw-label-md{
    font-size: 16px;
}
.tw-label-sm{
    font-size: 14px;
}
.tw-label-xs{
    font-size: 12px;
}
.tw-para-lg{
    font-size: 20px;
}
.tw-para-md{
    font-size: 16px;
}
.tw-para-sm{
    font-size: 14px;
}
.tw-para-xs{
    font-size: 12px;
}

// radius
.radius-sm{
    border-radius: 4px;
}
.radius-md{
    border-radius: 12px;
}
.radius-rounded{
    border-radius: 1000px;
}

// component

// button
.primary-l-btn{
    min-height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-300);
    font-size: 16px;
    color: var(--neutral-900);
    border: none;
    border-radius: 2px;
    padding: var(--spacing-s) var(--spacing-l);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 20px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        color: var(--primary-500);
    }
    &:focus{
        color: var(--primary-500);
        box-shadow: 0 0 0 3px rgba($color: var(--primary-300), $alpha: 0.4);
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.primary-s-btn{
    min-height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-300);
    font-size: 16px;
    color: var(--neutral-900);
    border: none;
    border-radius: 2px;
    padding: var(--spacing-xs) var(--spacing-m);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 16px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        color: var(--primary-500);
    }
    &:focus{
        color: var(--primary-500);
        box-shadow: 0 0 0 3px rgba($color: var(--primary-300), $alpha: 0.4);
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.neutral-fill-l-btn{
    min-height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--neutral-900);
    font-size: 16px;
    color: var(--neutral-0);
    border: none;
    border-radius: 2px;
    padding: var(--spacing-s) var(--spacing-l);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 20px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        background: var(--neutral-700);
    }
    &:focus{
        background: var(--neutral-700);
        box-shadow: 0 0 0 3px rgba($color: var(--neutral-900), $alpha: 0.1);
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.neutral-fill-s-btn{
    min-height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--neutral-900);
    font-size: 16px;
    color: var(--neutral-0);
    border: none;
    border-radius: 2px;
    padding: var(--spacing-s) var(--spacing-l);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 16px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        background: var(--neutral-700);
    }
    &:focus{
        background: var(--neutral-700);
        box-shadow: 0 0 0 3px rgba($color: var(--neutral-900), $alpha: 0.1);
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.neutral-outlined-l-btn{
    min-height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 16px;
    color: var(--neutral-900);
    border: 1px solid var(--neutral-900);
    border-radius: 2px;
    padding: var(--spacing-s) var(--spacing-l);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 20px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        color: var(--neutral-0);
        background: var(--neutral-900);
    }
    &:focus{
        color: var(--neutral-0);
        background: var(--neutral-900);
        box-shadow: 0 0 0 3px rgba($color: var(--neutral-900), $alpha: 0.1);
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.neutral-outlined-s-btn{
    min-height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 16px;
    color: var(--neutral-900);
    border: 1px solid var(--neutral-900);
    border-radius: 2px;
    padding: var(--spacing-s) var(--spacing-l);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 16px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        color: var(--neutral-0);
        background: var(--neutral-900);
    }
    &:focus{
        color: var(--neutral-0);
        background: var(--neutral-900);
        box-shadow: 0 0 0 3px rgba($color: var(--neutral-900), $alpha: 0.1);
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.icon-btn-l{
    width: 48px;
    min-height: 48px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-900);
    border-radius: 2px;
    padding: var(--spacing-s);
    cursor: pointer;
    transition: all 600ms;
    &:hover{
        color: var(--primary-400);
    }
    &:focus{
        background-color: var(--primary-100);
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
    .badge{
        width: 20px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        background-color: var(--primary-300);
        border-radius: 1000px;
        padding: 0 var(--spacing-xxs);
    }
}
.icon-btn-l-outlined{
    width: 48px;
    min-height: 48px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-900);
    border-radius: 2px;
    border: 2px solid var(--neutral-200);
    background-color: var(--neutral-0);
    padding: var(--spacing-s);
    cursor: pointer;
    transition: all 600ms;
    &:hover{
        color: var(--primary-500);
        border: 2px solid var(--primary-300);
        background-color: var(--primary-100);
    }
    &:focus{
        color: var(--neutral-900);
        border: 2px solid var(--primary-300);
        background-color: var(--primary-100);
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.icon-btn-s{
    width: 40px;
    min-height: 40px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-900);
    border-radius: 2px;
    padding: var(--spacing-s);
    cursor: pointer;
    transition: all 600ms;
    &:hover{
        color: var(--primary-400);
    }
    &:focus{
        background-color: var(--primary-100);
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
    .badge{
        width: 20px;
        position: absolute;
        top: 0;
        right: -50%;
        font-size: 12px;
        background-color: var(--primary-300);
        border-radius: 1000px;
        padding: 0 var(--spacing-xxs);
    }
}
.icon-btn-s-outlined{
    width: 40px;
    min-height: 40px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-900);
    border-radius: 2px;
    border: 2px solid var(--neutral-200);
    background-color: var(--neutral-0);
    padding: var(--spacing-s);
    cursor: pointer;
    transition: all 600ms;
    &:hover{
        color: var(--primary-500);
        border: 2px solid var(--primary-300);
        background-color: var(--primary-100);
    }
    &:focus{
        color: var(--neutral-900);
        border: 2px solid var(--primary-300);
        background-color: var(--primary-100);
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}

// link
.primary-link{
    color: var(--primary-400);
    padding: var(--spacing-xs) 0;
    cursor: pointer;
    transition: all 600ms;
    a{
        padding-bottom: var(--spacing-xxs);
        border-bottom: 1px solid var(--primary-400);
    }
    .icon{
        font-size: 20px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        color: var(--primary-500);
        a{
            border-bottom: 1px solid var(--primary-500);
        }
    }
    &:focus{
        color: var(--primary-500);
        a{
            border-bottom: 2px solid var(--primary-500);
        }
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.neutral-link{
    color: var(--neutral-900);
    padding: var(--spacing-xs) 0;
    cursor: pointer;
    transition: all 600ms;
    a{
        padding-bottom: var(--spacing-xxs);
        border-bottom: 1px solid var(--primary-400);
    }
    .icon{
        font-size: 20px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        color: var(--neutral-600);
        a{
            border-bottom: 1px solid var(--neutral-600);
        }
    }
    &:focus{
        color: var(--neutral-900);
        a{
            border-bottom: 2px solid var(--neutral-900);
        }
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}

// option
.option-text{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-900);
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-300);
    border-radius: 2px;
    padding: var(--spacing-s) var(--spacing-l);
    cursor: pointer;
    transition: all 600ms;
    &:hover{
        border: 1px solid var(--neutral-600);
    }
    &:focus{
        border: 1px solid var(--neutral-900);
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.option-img{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xxs);
    color: var(--neutral-600);
    cursor: pointer;
    transition: all 600ms;
    .imgs{
        aspect-ratio: 1 / 1;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &:hover{
        .imgs{
            opacity: 0.8;
        }
    }
    &:focus{
        color: var(--neutral-900);
        .imgs{
            border: 1px solid var(--neutral-900);
        }
    }
    &:disabled, &.disable{
        opacity: 0.4;
        cursor: not-allowed;
    }
}

// card

// card-product
.card-product-l{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    transition: all 600ms;
    .imgs{
        aspect-ratio: 1 / 1;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .label{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxs);
        color: var(--neutral-900);
        .title{
            font-size: 20px;
            font-weight: 700;
        }
    }
    &:hover{
        .imgs{
            opacity: 0.8;
        }
    }
}
.card-product-m{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    transition: all 600ms;
    .imgs{
        aspect-ratio: 1 / 1;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .label{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xxs);
        color: var(--neutral-900);
        .title{
            font-weight: 700;
        }
    }
    &:hover{
        .imgs{
            opacity: 0.8;
        }
    }
}
.card-product-s{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    transition: all 600ms;
    .imgs{
        aspect-ratio: 1 / 1;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .label{
        display: flex;
        flex-direction: column;
        color: var(--neutral-900);
        .title{
            font-weight: 700;
        }
    }
    &:hover{
        .imgs{
            opacity: 0.8;
        }
    }
}

// card-img
.card-img{
    position: relative;
    aspect-ratio: 1 / 1;
    background-color: var(--neutral-100);
    overflow: hidden;
    transition: all 600ms;
    .badge{
        position: absolute;
        display: inline-block;
        align-self: flex-start;
        top: 0;
        left: 0;
        font-size: 14px;
        color: var(--primary-400);
        padding: var(--spacing-xs) var(--spacing-s);
        background-color: var(--primary-100);
    }
    img{
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    &:hover{
        img{
            opacity: 0.7;
        }
    }
}

// card-category
