* {
    box-sizing: border-box;
    position: relative;
    font-family: $font-family;
}

// typography
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
    font-family: $font-family;
    font-weight: bold;
    line-height: 1.5;
}
p,
li {
    color: var(--text-neutral);
    font-family: $font-family;
}
a {
    color: var(--text-neutral);
    display: block;
    text-decoration: none;
    outline: none;
    font-family: $font-family;
}
.row {
    display: flex;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333%;
}
.col-6 {
    width: 50%;
}
.col-8 {
    width: 66.66666666666667%;
}
.col-9 {
    width: 75%;
}
