* {
    box-sizing: border-box;
    position: relative;
    font-family: $font-family;
}

.container{
    max-width: 1296px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 24px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.col-12-xxl{
    width: 100%;
}
.col-11-xxl{
    width: 91.66666666666667%;
}
.col-10-xxl{
    width: 83.33333333333333%;
}
.col-9-xxl{
    width: 75%;
}
.col-8-xxl{
    width: 66.66666666666667%;
}
.col-7-xxl{
    width: 58.33333333333333%;
}
.col-6-xxl{
    width: 50%;
}
.col-5-xxl{
    width: 41.66666666666667%;
}
.col-4-xxl{
    width: 33.33333333333333%;
}
.col-3-xxl{
    width: 25%;
}
.col-2-xxl{
    width: 16.66666666666667%;
}
.col-1-xxl{
    width: 8.333333333333333%;
}

img{
    display: block;
}

// typography
h1, h2, h3, h4, h5, h6, .display-1, .display-2 {
    font-family: $font-family;
    line-height: 1.2;
    letter-spacing: 5%;
}
p, li, a {
    font-family: $font-family;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
a {
    display: block;
    text-decoration: none;
    outline: none;
    font-family: $font-family;
}
h1, .tw-h1{
    font-size: 40px;
}
h2, .tw-h2{
    font-size: 32px;
}
h3, .tw-h3{
    font-size: 28px;
}
h4, .tw-h4{
    font-size: 24px;
}
h5, .tw-h5{
    font-size: 20px;
}
h6, .tw-h6{
    font-size: 16px;
}
.display-1{
    font-size: 64px;
}
.display-2{
    font-size: 48px;
}
.tw-lable-lg{
    font-size: 20px;
}
.tw-lable-md{
    font-size: 16px;
}
.tw-lable-sm{
    font-size: 14px;
}
.tw-lable-xs{
    font-size: 12px;
}
.tw-para-lg{
    font-size: 20px;
}
.tw-para-md{
    font-size: 16px;
}
.tw-para-sm{
    font-size: 14px;
}
.tw-para-xs{
    font-size: 12px;
}

// radius
.radius-sm{
    border-radius: 4px;
}
.radius-md{
    border-radius: 12px;
}
.radius-rounded{
    border-radius: 1000px;
}