.header{
    .title-group{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-m);
        color: var(--text-dark);
    }
    .imgs{
        position: relative;
        width: 100%;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            top: 0; 
            left: 0; 
            width: 100%; height: 100%;
            background: #000;
            opacity: 0.4;
            pointer-events: none;
        }
        img{
            width: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }
}