.header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-m) 0;
        .nav{
            display: flex;
            align-items: center;
            gap: var(--spacing-3xl);
            .navbar{
                display: flex;
                align-items: center;
                gap: var(--spacing-2xl);
            }
        }
        .icon-btn-l i{
            font-size: 24px;
            text-align: center;
            line-height: 1;
        }
    }
}
.story-header .banner{
    .title-group{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-m);
        color: var(--text-dark);
    }
    .imgs{
        position: relative;
        width: 100%;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            top: 0; 
            left: 0; 
            width: 100%; height: 100%;
            background: #000;
            opacity: 0.4;
            pointer-events: none;
        }
        img{
            width: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }
}