// typography
$font-family: "Noto Sans TC", sans-serif;

// color
:root {
    --text-primary: #0027d5;
    --text-secondary: #4b4b4b;
    --text-neutral: #000000;
    --bg-primary: #fbfbfb;
    --bg-secondary: #0027d5;
    --bg-neutral: #ffffff;
    --neutral-color: #ffffff;
    --border-color: #6c757d;
    --border-secondary: #0027d5;
    --border-neutral: #000000;
    --link-color: #000000;
    --shadow-color: #000000;
    --highlight-color: #db1f1f;
    --grid-line-color: #d9d9d9;
    --grid-bg-color: rgba(245, 235, 221, 1);
}
