<footer class="footer story-footer">
    <div class="container">
        <nav class="footer-nav">
            <a href="./index.html" class="logo">
                <img src="../assets/images/logo.svg" alt="URBNSTEP LOGO">
            </a>
            <ul class="navbar tw-label-md">
                <li><a href="./collection.html" class="neutral-link">商品列表</a></li>
                <li><a href="./story.html" class="neutral-link">品牌故事</a></li>
            </ul>
        </nav>
        <div class="copyright">
            <p class="tw-para-sm">Copyright ©2025 URBNSTYLE</p>
            <p class="tw-para-sm">All Rights Reserved.</p>
        </div>
    </div>
</footer>