<header class="header home-header">
    <div class="container">
        <nav class="nav">
            <a href="./index.html" class="logo">
                <img src="../assets/images/logo.svg" alt="URBNSTEP LOGO">
            </a>
            <ul class="navbar">
                <li class="navbar-item"><a href="./collection.html" class="neutral-link tw-label-md">商品列表</a></li>
                <li class="navbar-item"><a href="./story.html" class="neutral-link tw-label-md">品牌故事</a></li>
            </ul>
        </nav>
        <a href="#" class="icon-btn-l">
            <i class="bi bi-person"></i>
        </a>
    </div>
</header>