<div class="third-party-login">
    <button type="button" class="btn-facebook" onclick="window.location.href='/auth/facebook'">
        <div class="imgs">
            <img src="../assets/images/facebook.svg" alt="Facebook">
        </div>
        <p class="tw-para-md">Facebook 登入</p>
    </button>
    <button type="button" class="btn-apple" onclick="window.location.href='/auth/apple'">
        <div class="imgs">
            <img src="../assets/images/apple.svg" alt="Apple">
        </div>
        <p class="tw-para-md">Apple 登入</p>
    </button>
    <button type="button" class="btn-google" onclick="window.location.href='/auth/google'">
        <div class="imgs">
            <img src="../assets/images/google.svg" alt="Google">
        </div>
        <p class="tw-para-md">Google 登入</p>
    </button>
</div>