.primary-l-btn{
    min-height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-300);
    font-size: 16px;
    color: var(--neutral-900);
    border: none;
    border-radius: 4px;
    padding: var(--spacing-s) var(--spacing-l);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 20px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        color: var(--primary-500);
    }
    &:focus{
        color: var(--primary-500);
        box-shadow: 0 0 0 3px rgba($color: var(--primary-300), $alpha: 0.4);
    }
    &:disabled, &.disable{
        color: var(--neutral-900);
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.primary-s-btn{
    min-height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-300);
    font-size: 16px;
    color: var(--neutral-900);
    border: none;
    border-radius: 4px;
    padding: var(--spacing-xs) var(--spacing-m);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 16px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        color: var(--primary-500);
    }
    &:focus{
        color: var(--primary-500);
        box-shadow: 0 0 0 3px rgba($color: var(--primary-300), $alpha: 0.4);
    }
    &:disabled, &.disable{
        color: var(--neutral-900);
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.neutral-fill-l-btn{
    min-height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--neutral-900);
    font-size: 16px;
    color: var(--neutral-0);
    border: none;
    border-radius: 4px;
    padding: var(--spacing-s) var(--spacing-l);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 20px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        background: var(--neutral-700);
    }
    &:focus{
        background: var(--neutral-700);
        box-shadow: 0 0 0 3px rgba($color: var(--neutral-900), $alpha: 0.1);
    }
    &:disabled, &.disable{
        background: var(--neutral-900);
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.neutral-fill-s-btn{
    min-height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--neutral-900);
    font-size: 16px;
    color: var(--neutral-0);
    border: none;
    border-radius: 4px;
    padding: var(--spacing-s) var(--spacing-l);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 16px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        background: var(--neutral-700);
    }
    &:focus{
        background: var(--neutral-700);
        box-shadow: 0 0 0 3px rgba($color: var(--neutral-900), $alpha: 0.1);
    }
    &:disabled, &.disable{
        background: var(--neutral-900);
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.neutral-outlined-l-btn{
    min-height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 16px;
    color: var(--neutral-900);
    border: 1px solid var(--neutral-900);
    border-radius: 4px;
    padding: var(--spacing-s) var(--spacing-l);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 20px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        color: var(--neutral-0);
        background: var(--neutral-900);
    }
    &:focus{
        color: var(--neutral-0);
        background: var(--neutral-900);
        box-shadow: 0 0 0 3px rgba($color: var(--neutral-900), $alpha: 0.1);
    }
    &:disabled, &.disable{
        color: var(--neutral-900);
        background: none;
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.neutral-outlined-s-btn{
    min-height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 16px;
    color: var(--neutral-900);
    border: 1px solid var(--neutral-900);
    border-radius: 4px;
    padding: var(--spacing-s) var(--spacing-l);
    cursor: pointer;
    transition: all 600ms;
    .icon{
        font-size: 16px;
        &.left{
            margin-right: var(--spacing-xs);
        }
        &.right{
            margin-left: var(--spacing-xs);
        }
    }
    &:hover{
        color: var(--neutral-0);
        background: var(--neutral-900);
    }
    &:focus{
        color: var(--neutral-0);
        background: var(--neutral-900);
        box-shadow: 0 0 0 3px rgba($color: var(--neutral-900), $alpha: 0.1);
    }
    &:disabled, &.disable{
        color: var(--neutral-900);
        background: none;
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.icon-btn-l{
    width: 48px;
    min-height: 48px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-900);
    border-radius: 4px;
    padding: var(--spacing-s);
    cursor: pointer;
    transition: all 600ms;
    &:hover{
        color: var(--primary-400);
    }
    &:focus{
        background-color: var(--primary-100);
    }
    &:disabled, &.disable{
        color: var(--neutral-900);
        opacity: 0.4;
        cursor: not-allowed;
    }
    .badge{
        width: 20px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        background-color: var(--primary-300);
        border-radius: 1000px;
        padding: 0 var(--spacing-xxs);
    }
}
.icon-btn-l-outlined{
    width: 48px;
    min-height: 48px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-900);
    border-radius: 4px;
    border: 2px solid var(--neutral-200);
    background-color: var(--neutral-0);
    padding: var(--spacing-s);
    cursor: pointer;
    transition: all 600ms;
    &:hover{
        color: var(--primary-500);
        border: 2px solid var(--primary-300);
        background-color: var(--primary-100);
    }
    &:focus{
        color: var(--neutral-900);
        border: 2px solid var(--primary-300);
        background-color: var(--primary-100);
    }
    &:disabled, &.disable{
        color: var(--neutral-900);
        border: 2px solid var(--neutral-200);
        background-color: var(--neutral-0);
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.icon-btn-s{
    width: 40px;
    min-height: 40px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-900);
    border-radius: 4px;
    padding: var(--spacing-s);
    cursor: pointer;
    transition: all 600ms;
    &:hover{
        color: var(--primary-400);
    }
    &:focus{
        background-color: var(--primary-100);
    }
    &:disabled, &.disable{
        color: var(--neutral-900);
        opacity: 0.4;
        cursor: not-allowed;
    }
    .badge{
        width: 20px;
        position: absolute;
        top: 0;
        right: -50%;
        font-size: 12px;
        background-color: var(--primary-300);
        border-radius: 1000px;
        padding: 0 var(--spacing-xxs);
    }
}
.icon-btn-s-outlined{
    width: 40px;
    min-height: 40px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-900);
    border-radius: 4px;
    border: 2px solid var(--neutral-200);
    background-color: var(--neutral-0);
    padding: var(--spacing-s);
    cursor: pointer;
    transition: all 600ms;
    &:hover{
        color: var(--primary-500);
        border: 2px solid var(--primary-300);
        background-color: var(--primary-100);
    }
    &:focus{
        color: var(--neutral-900);
        border: 2px solid var(--primary-300);
        background-color: var(--primary-100);
    }
    &:disabled, &.disable{
        color: var(--neutral-900);
        border: 2px solid var(--neutral-200);
        background-color: var(--neutral-0);
        opacity: 0.4;
        cursor: not-allowed;
    }
}
.third-party-login{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    button{
        display: flex;
        align-items: center;
        gap: var(--spacing-s);
        background: var(--neutral-0);
        border: 1px solid var(--neutral-300);
        border-radius: 4px;
        padding: var(--spacing-s);
        cursor: pointer;
        transition: all 600ms;
        .social-icon{
            width: 40px;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            img{
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &:hover, &:focus, &.focus{
            background: var(--neutral-200);
            border: 1px solid var(--neutral-600);
        }
    }
}