.header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-m) 0;
        .nav{
            display: flex;
            align-items: center;
            gap: var(--spacing-3xl);
            .navbar{
                display: flex;
                align-items: center;
                gap: var(--spacing-2xl);
            }
        }
        .icon-btn-l i{
            font-size: 24px;
            text-align: center;
            line-height: 1;
        }
    }
}