.header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-m) 0;
        .nav{
            display: flex;
            align-items: center;
            gap: var(--spacing-3xl);
            .navbar{
                display: flex;
                align-items: center;
                gap: var(--spacing-2xl);
            }
        }
        .icon-btn-l i{
            font-size: 24px;
            text-align: center;
            line-height: 1;
        }
    }
    .mobile-navbar{
        display: none;
    }
}
@media (max-width: 376px) {
    .header{
        .container{
            padding: var(--spacing-s);
            .nav{
                .navbar{
                    display: none;
                }
            }
        }
        .mobile-navbar{
            display: flex;
            li{
                width: 50%;
                a{
                    width: 100%;
                    color: var(--neutral-900);
                    text-align: center;
                    background-color: var(--primary-100);
                    padding: var(--spacing-s) var(--spacing-l);
                    &:hover, &:focus, &.focus, &:active, &.active{
                        background-color: var(--primary-200);
                    }
                }
            }
        }
    }
}