.pd-main .container{
    display: flex;
    flex-direction: column;
    .product-info{
        display: flex;
        align-items: flex-start;
        gap: var(--spacing-l);
        padding: var(--spacing-5xl) 0;
        .image{
            width: 58.33333333333333%;
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-xs);
            .imgs{
                width: calc((100% - var(--spacing-xs)) / 2);
                aspect-ratio: 1 / 1;
                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .info{
            width: 41.66666666666667%;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xl);
            .intro{
                display: flex;
                flex-direction: column;
                gap: var(--spacing-m);
                .title .breadcrumb ol{
                    display: flex;
                    align-items: center;
                    li {
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        & + li {
                            &::before {
                            content: "/"; 
                            margin: 0 var(--spacing-s); 
                            color: var(--neutral-300); 
                            }
                        }
                        a {
                            text-decoration: none;
                            color: var(--neutral-600);
            
                            &:hover {
                            text-decoration: underline;
                            }
                        }
                        &:last-child {
                            color: var(--neutral-900);
                            a {
                                pointer-events: none; 
                                cursor: default; 
                                text-decoration: none; 
                                color: var(--neutral-900); 
                            }
                        }
                    }
                }
                .price{
                    display: flex;
                    align-items: center;
                    gap: var(--spacing-xs);
                    p{
                        color: var(--primary-400);
                        &:last-child{
                            font-weight: 400;
                            text-decoration: line-through;
                            color: var(--neutral-500);
                        }
                    }
                }
                .para{
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-s);
                    font-weight: 400;
                    color: var(--neutral-900);
                }
            }
            .spec{
                display: flex;
                flex-direction: column;
                gap: var(--spacing-3xl);
                .cmf{
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-xl);
                    .color{
                        display: flex;
                        flex-direction: column;
                        gap: var(--spacing-xs);
                        font-weight: 400;
                        color: var(--neutral-900);
                        .btns{
                            display: flex;
                            align-items: center;
                            gap: var(--spacing-xs);
                            a{
                                width: 64px;
                            }
                        }
                    }
                }
                .size{
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-xs);
                    font-weight: 400;
                    color: var(--neutral-900);
                    .size-btn{
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--spacing-xs);
                        .size-item a{
                            width: 160px;
                            border: 1px solid var(--neutral-300);
                            &:active, &.active{
                                border: 1px solid var(--neutral-900);
                            }
                        }
                    }
                    p:last-child{
                        color: var(--danger-300);
                    }
                }
                .btns{
                    display: flex;
                    align-items: center;
                    gap: var(--spacing-xs);
                    a{
                        width: calc((100% - var(--spacing-xs)) / 2);
                    }
                    .mobile-btn{
                        display: none;
                    }
                }
            }
            .accordion li{
                display: flex;
                flex-direction: column;
                gap: 4px;
                font-weight: 400;
                color: var(--neutral-600);
                padding: var(--spacing-s) 0;
                border-bottom: 1px solid var(--neutral-300);
                .title{
                    font-weight: 500;
                    color: var(--neutral-900);
                }
            }
        }
    }
    .seller{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-m);
        padding: var(--spacing-3xl) 0;
        .cards{
            display: flex;
            gap: var(--spacing-l);
            .card{
                width: 25%;
                a{
                    color: var(--neutral-900);
                }
            } 
        }
    }
}

@media (max-width: 576px) {
    .pd-main .container{
    .product-info{
        flex-direction: column;
        gap: var(--spacing-l);
        padding: 0;
        .image{
            width: 100%;
            .imgs{
                width: 100%;
                display: none;
                &:first-child{
                    display: block;
                }
            }
        }
        .info{
            width: 100%;
            padding: 0 var(--spacing-s);
            .intro{
                gap: var(--spacing-s);
                .title{
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-xs);
                    .breadcrumb ol{
                        li {
                            & + li {
                                &::before {
                                    margin: 0 var(--spacing-xs); 
                                }
                            }
                        }
                    }
                }
            }
            .spec{
                gap: var(--spacing-l);
                .cmf{
                    gap: var(--spacing-l);
                }
                .btns{
                    .neutral-fill-l-btn{
                        height: 48px;
                        flex-grow: 1;
                        white-space: nowrap;
                    }
                    .desktop-btn{
                        display: none;
                    }
                    .mobile-btn{
                        width: 48px;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        aspect-ratio: 1 / 1;
                    }
                }
            }
        }
    }
    .seller{
        padding: var(--spacing-2xl) var(--spacing-s);
        .cards{
            gap: var(--spacing-m);
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow: hidden;
            .card {
                width: 300px;
                flex-shrink: 0;
            }
        }
    }
}
}