.home-main{
    .hero{
        position: relative;
        .imgs{
            overflow: hidden;
            img{
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            .mobile-img{
                display: none;
            }
        }
        .content{
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(0, -50%);
            display: flex;
            flex-direction: column;
            gap: var(--spacing-3xl);
            .title{
                display: flex;
                flex-direction: column;
                gap: var(--spacing-m);
                h1, h2{
                    color: var(--neutral-0);
                }
            }
            .primary-l-btn{
                align-self: flex-start;
            }
        }
    }
    .arrival{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xl);
        padding: var(--spacing-5xl) 0;
        .top-title{
            display: flex;
            flex-direction: column;
            gap: var(--spacing-s);
            text-align: center;
        }
        .product{
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-2xl) var(--spacing-l);
            .product-item{
                width: calc((100% - var(--spacing-l)) / 2); 
            }
        }
    }
    .seller{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-m);
        padding: var(--spacing-5xl) 0;
        .card-wrapper{
            display: flex;
            gap: var(--spacing-l);
        }
    }
    .sale{
        position: relative;
        padding: var(--spacing-3xl) 0;
        .imgs{
            overflow: hidden;
            img{
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            .mobile-img{
                display: none;
            }
        }
        .content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-3xl);
            .text{
                display: flex;
                flex-direction: column;
                gap: var(--spacing-xl);
                text-align: center;
                .title-subtitle{
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-m);
                    color: var(--neutral-0);
                    .title{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: var(--spacing-l);
                        span{
                            color: var(--primary-300);
                        }
                    }
                }
                p{
                    font-weight: 400;
                    color: var(--neutral-400);
                }
                .mobile-para{
                    display: none;
                }
            }
        }
    }
    .series{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-m);
        padding: var(--spacing-5xl) 0;
        .card-wrapper{
            display: flex;
            gap: var(--spacing-l);
        }
    }
    .style{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-m);
        padding: var(--spacing-5xl) 0;
        .wrapper{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: var(--spacing-xs);
            .imgs{
                aspect-ratio: 1 / 1;
                overflow: hidden;
                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .large{
                grid-row: span 2;
                grid-column: span 2;
            }
        }
    }
}

@media (max-width: 376px) {
    .home-main{
        .hero{
            .imgs{
                .desktop-img{
                    display: none;
                }
                .mobile-img{
                    display: block;
                }
            }
            .content{
                gap: var(--spacing-xl);
                .title{
                    gap: var(--spacing-xs);
                }
            }
        }
        .arrival{
            gap: var(--spacing-l);
            padding: var(--spacing-2xl) var(--spacing-s);
            .top-title{
                gap: var(--spacing-xs);
            }
            .product{
                gap: var(--spacing-l) var(--spacing-s);
                .product-item{
                    width: calc((100% - var(--spacing-s)) / 2); 
                }
            }
        }
        .seller{
            gap: var(--spacing-m);
            padding: var(--spacing-2xl) var(--spacing-s);
            .card-wrapper{
                gap: var(--spacing-m);
                flex-wrap: nowrap;
                overflow-x: auto;
                overflow: hidden;
                li{
                    width: 300px;
                    flex-shrink: 0;
                }
            }
        }
        .sale{
            padding: var(--spacing-l) 0;
            .imgs{
                .desktop-img{
                    display: none;
                }
                .mobile-img{
                    display: block;
                }
                .background{
                    height: 450px;
                }
                .star{
                    position: absolute;
                    top: 10%;
                    left: 0;
                    transform: translate(-50%, 0);
                    width: 48px;
                }
                .sparkle{
                    position: absolute;
                    bottom: 20%;
                    right: 0;
                    transform: translate(40%, 0);
                    width: 76px;
                }
            }
            .content{
                gap: var(--spacing-xl);
                .text{
                    gap: var(--spacing-l);
                    .title-subtitle{
                        gap: var(--spacing-m);
                        .title{
                            flex-direction: column;
                            gap: var(--spacing-xs);
                            h2{
                                text-wrap: nowrap;
                            }
                        }
                    }
                    .desktop-para{
                        display: none;
                    }
                    .mobile-para{
                        display: block;
                        gap: var(--spacing-xxs);
                        font-weight: 400;
                        white-space: nowrap;
                        color: var(--neutral-400);
                    }
                }
            }
        }
        .series{
            padding: var(--spacing-2xl) var(--spacing-s);
            .card-wrapper{
                flex-wrap: wrap;
                gap: var(--spacing-s);
                li{
                    width: calc((100% - var(--spacing-s)) / 2); 
                }
            }
        }
        .style{
            padding: var(--spacing-2xl) var(--spacing-s);
            .wrapper{
                display: flex;
                flex-wrap: nowrap;
                gap: var(--spacing-m);
                overflow-x: auto;
                .imgs{
                    width: 300px;
                    flex-shrink: 0;
                }
            }
        }
    }
}