<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collect</title>
    <%- include('./layout/head'); -%>
</head>
<body>
    <%- include('./layout/header'); -%>
    <main class="main collect-main">
        <div class="container">
            <section class="cart">
                <div class="title">
                    <div class="icon radius-rounded">
                        <i class="bi bi-check"></i>
                    </div>
                    <h1 class="tw-h1 tw-h4-s">我的收藏</h1>
                </div>
                <div class="note">
                    <i class="bi bi-truck"></i>
                    <p class="tw-label-md desktop-para">門市營業時間：週一至週五 10:00 - 22:00</p>
                    <p class="tw-label-md mobile-para">門市營業時間：<br>週一至週五 10:00 - 22:00</p>
                </div>
                <ul class="product-info-list">
                    <li class="product-info">
                        <div class="imgs">
                            <img src="../assets/images/product.png" alt="Navy blue and beige two-tone casual sneakers">
                        </div>
                        <ul class="info">
                            <li class="name tw-h5 tw-h6-s">PLATFORM 404</li>
                            <li class="size">
                                <p class="tw-para-md tw-para-sm-s">尺寸</p>
                                <p class="tw-label-md tw-label-sm-s">38</p>
                            </li>
                            <li class="color">
                                <p class="tw-para-md tw-para-sm-s">顏色</p>
                                <p class="tw-label-md tw-label-sm-s">Navy</p>
                            </li>
                            <li class="price tw-h6-s">NT$2,600</li>
                        </ul>
                    </li>
                    <li class="product-info">
                        <div class="imgs">
                            <img src="../assets/images/product-4.png" alt="Off-white canvas platform sneakers">
                        </div>
                        <ul class="info">
                            <li class="name tw-h5 tw-h6-s">BOOMLOK</li>
                            <li class="size">
                                <p class="tw-para-md tw-para-sm-s">尺寸</p>
                                <p class="tw-label-md tw-label-sm-s">38</p>
                            </li>
                            <li class="color">
                                <p class="tw-para-md tw-para-sm-s">顏色</p>
                                <p class="tw-label-md tw-label-sm-s">White</p>
                            </li>
                            <li class="price">NT$3,200</li>
                        </ul>
                    </li>
                    <li class="product-info">
                        <div class="imgs">
                            <img src="../assets/images/product-3.png" alt="Off-white sneakers with lavender accents and small pink flower details">
                        </div>
                        <ul class="info">
                            <li class="name tw-h5 tw-h6-s">MELTY KISS</li>
                            <li class="size">
                                <p class="tw-para-md tw-para-sm-s">尺寸</p>
                                <p class="tw-label-md tw-label-sm-s">38</p>
                            </li>
                            <li class="color">
                                <p class="tw-para-md">顏色</p>
                                <p class="tw-label-md">Violet</p>
                            </li>
                            <li class="price">NT$4,000</li>
                        </ul>
                    </li>
                </ul>
                <div class="btns">
                    <a href="#" class="neutral-fill-l-btn">立即預約門市試穿</a>
                </div>
            </section>
        </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>

</body>
</html>