<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
    <%- include('./layout/head'); -%>
</head>
<body>
    <%- include('./layout/header'); -%>
    <main class="main pl-main">
        <div class="container">
            <section class="product-lists col-12-xxl">
                <nav class="breadcrumb">
                    <ol class="tw-label-md tw-label-sm-s">
                        <li><a href="#">首頁</a></li>
                        <li><a href="#">所有產品</a></li>
                    </ol>
                </nav>
                <h1 class="title tw-h3">所有商品</h1>
                <div class="content">
                    <aside class="menu col-2-xxl">
                        <ul class="menu-list tw-label-md">
                            <li><a href="#" class="active">所有商品</a></li>
                            <li><a href="#">慢跑鞋</a></li>
                            <li><a href="#">滑板鞋</a></li>
                            <li><a href="#">厚底鞋</a></li>
                            <li><a href="#">限定 / 聯名企劃</a></li>
                        </ul>
                    </aside>
                    <div class="cards col-10-xxl">
                        <ul class="card-list">
                            <li class="card-item">
                                <a href="./platform404.html" class="card-product-m">
                                    <div class="imgs">
                                        <img src="../assets/images/product.png" alt="Navy blue and beige two-tone casual sneakers">
                                    </div>
                                    <div class="label">
                                        <p class="tw-h6">PLATFORM 404</p>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </div>
                                </a>
                            </li>
                            <li class="card-item">
                                <a href="#" class="card-product-m">
                                    <div class="imgs">
                                        <img src="../assets/images/product-1.png" alt="Beige and cream two-tone casual sneakers">
                                    </div>
                                    <div class="label">
                                        <p class="tw-h6">PLATFORM 404</p>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </div>
                                </a>
                            </li>
                            <li class="card-item">
                                <a href="#" class="card-product-m">
                                    <div class="imgs">
                                        <img src="../assets/images/product-2.png" alt="Grey and white two-tone casual sneakers">
                                    </div>
                                    <div class="label">
                                        <p class="tw-h6">VM001</p>
                                        <p class="tw-label-md">NT$2,600</p>
                                    </div>
                                </a>
                            </li>
                            <li class="card-item">
                                <a href="#" class="card-product-m">
                                    <div class="imgs">
                                        <img src="../assets/images/product-3.png" alt="Off-white sneakers with lavender accents and small pink flower details">
                                    </div>
                                    <div class="label">
                                        <p class="tw-h6">Melty Kiss</p>
                                        <p class="tw-label-md">NT$4,000</p>
                                    </div>
                                </a>
                            </li>
                            <li class="card-item">
                                <a href="#" class="card-product-m">
                                    <div class="imgs">
                                        <img src="../assets/images/product-4.png" alt="Off-white canvas platform sneakers">
                                    </div>
                                    <div class="label">
                                        <p class="tw-h6">BOOMBLOK</p>
                                        <p class="tw-label-md">NT$3,200</p>
                                    </div>
                                </a>
                            </li>
                            <li class="card-item">
                                <a href="#" class="card-product-m">
                                    <div class="imgs">
                                        <img src="../assets/images/product-5.png" alt="Light blue canvas platform sneakers with off-white soles and toe caps">
                                    </div>
                                    <div class="label">
                                        <p class="tw-h6">BOOMBLOK</p>
                                        <p class="tw-label-md">NT$3,200</p>
                                    </div>
                                </a>
                            </li>
                            <li class="card-item">
                                <a href="#" class="card-product-m">
                                    <div class="imgs">
                                        <img src="../assets/images/product-6.png" alt="Cream-colored chunky sneakers with textured panels and a thick wavy sole">
                                    </div>
                                    <div class="label">
                                        <p class="tw-h6">R:UNER</p>
                                        <p class="tw-label-md">NT$4,000</p>
                                    </div>
                                </a>
                            </li>
                            <li class="card-item">
                                <a href="#" class="card-product-m">
                                    <div class="imgs">
                                        <img src="../assets/images/product-7.png" alt="Light yellow and cream two-tone casual sneakers">
                                    </div>
                                    <div class="label">
                                        <p class="tw-h6">Sugar Snap</p>
                                        <p class="tw-label-md">NT$4,000</p>
                                    </div>
                                </a>
                            </li>
                            <li class="card-item">
                                <a href="#" class="card-product-m">
                                    <div class="imgs">
                                        <img src="../assets/images/product-8.png" alt="Monochromatic light grey chunky sneakers with textured panels and a sculpted sole">
                                    </div>
                                    <div class="label">
                                        <p class="tw-h6">Neofoam</p>
                                        <p class="tw-label-md">NT$4,000</p>
                                    </div>
                                </a>
                            </li>
                            <li class="card-item mobile-card-item">
                                <a href="#" class="card-product-m">
                                    <div class="imgs">
                                        <img src="../assets/images/product-9.png" alt="Side view of a monochromatic off-white casual sneaker">
                                    </div>
                                    <div class="label">
                                        <p class="tw-h6">Buttermood</p>
                                        <p class="tw-label-md">NT$4,000</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav class="pagination tw-label-md">
                    <a href="#" class="icon-btn-s disable">
                        <i class="bi bi-chevron-left"></i>
                    </a>
                    <ul class="page-list tw-label-md">
                      <li class="page-item">
                        <a class="page-link active" href="#">1</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link disable" href="#">...</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">10</a></li>
                    </ul>
                    <a href="#" class="icon-btn-s">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                </nav>
            </section>
        </div>
        <%- include('./layout/banner-action'); -%>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>

</body>
</html>