.hero{
    .imgs{
        overflow: hidden;
        img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}
.arrival{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    padding: var(--spacing-5xl) 0;
    .top-title{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);
        text-align: center;
    }
    .product{
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-2xl) var(--spacing-l);
        .product-item{
            width: calc((100% - var(--spacing-l)) / 2); 
        }
    }
}